*{
    margin: 0;
    font-family: "nunito_sans", Arial, Helvetica;
}

:root{

    --abtBlue: #1c70bf;
    --greenBtn: #00cc00;

}



.form-container.two {
    justify-content: center;
}


  /* Code mirror styling  */
  .cm-s-monokai.CodeMirror {
    width: 70%;
    height: 100%;
    margin: 0 auto;
    border-radius: 15px;
    margin-bottom: 20px;
}

.CodeMirror-wrap pre {
    word-break: break-word;
}

.example{
    width: 600px !important;
    margin: 0 auto !important;
    margin-top: 50px !important;
}


